<html xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorator="layouts/main.html">
    <div layout:fragment="myContent" >
        <div class="row justify-content-center">
            <h1><span class="blue"></span><span class="blue"></span> <span class="yellow"></pan></h1>
            <table class="container justify-content-center" >
                <thead>
                <tr>
                    <th><h3>ID</h3></th>
                    <th><h3 th:text = "#{label.name}"></h3></th>
                    <th><h3 th:text = "#{label.category}"></h3></th>
                    <th><h3 th:text = "#{label.details}"></h3></th>
                </tr>
                </thead>
                <tbody>
                    <tr th:each = "restaurant : ${restaurant}">
                        <td th:text = "${restaurant.id}"></td>
                        <td th:text = "${restaurant.name}"></td>
                        <td th:text = "${restaurant.category}"></td>
                        <td>
                            <a th:href = "@{'/details/'+${restaurant.id}}" th:text = "#{label.details}"></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</html>