<html xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/main.html">
<div layout:fragment = "myContent">
    <b><h2 th:text = "#{label.invalidRegister}" style="align-content: center; color: #ffd8fb"></h2></b>
    <div class="row justify-content-center">
        <form th:action = "@{'/addUser'}" method="post" >
            <div class="form-group">
                <label style="color: #2e2843;">Email</label>
                <input type="email" class="form-control" name = "email" style="background-color: #d9d7d1">
            </div>
            <div class="form-group">
                <label th:text = "#{label.password}" style="color: #2e2843;"></label>
                <input type="password" class="form-control" name="password" minlength="6" maxlength="30" required style="background-color: #d9d7d1">
            </div>
            <div class="form-group">
                <label th:text = "#{label.re_password}" style="color: #2e2843;"></label>
                <input type="password" class="form-control" name = "re_password" minlength="6" maxlength="30" required style="background-color: #d9d7d1">
            </div>
            <div class="form-group">
                <label th:text = "#{label.user_name}" style="color: #2e2843;"></label>
                <input type="text" class="form-control" name = "name" required style="background-color: #d9d7d1">
            </div>
            <div class="form-group">
                <label th:text = "#{label.user_surname}" style="color: #2e2843;"></label>
                <input type="text" class="form-control" name = "surName" required style="background-color: #d9d7d1">
            </div>
            <button type="submit" class="btn btn-success" th:text = "#{label.register}"></button>
        </form>
    </div>
</div>
</html>