<html xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorator="layouts/main.html">
<div layout:fragment="myContent" >
    <div class="row justify-content-center">
        <form th:action="@{'/refreshPassword'}" method="post">
            <input type="hidden" name="id" th:value="*{users.id}">
            <div class="form-group">
                <label th:text = "#{label.old_password}" style="color: #2e2843;">
                </label>
                <input type="password" name="user_old_password" class="form-control" minlength="6" maxlength="30" required style="background-color: #d9d7d1">
            </div>
            <div class="form-group">
                <label th:text = "#{label.new_password}" style="color: #2e2843;">
                </label>
                <input type="password" name="user_new_password" class="form-control" minlength="6" maxlength="30" required style="background-color: #d9d7d1">
            </div>
            <div class="form-group">
                <label th:text = "#{label.repeat_new_password}" style="color: #2e2843;">
                </label>
                <input type="password" name="user_new_repassword" class="form-control" minlength="6" maxlength="30" required style="background-color: #d9d7d1">
            </div>
            <button class="btn btn-success" th:text = "#{label.refresh_password}"></button>
        </form>
    </div>
</div>
</html>