<html xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorator="layouts/main.html">
<div layout:fragment = "myContent" id="searchRestaurantPage">
        <div class="container mt-4 mb-4">
            <form th:action = "@{'/searchRestaurantByName'}" method="post">
                <div class="form-group">
                    <h2 th:text = "#{label.search_by_name}"></h2>
                    <div class="form-group" th:each="restaurant: ${restaurant}">
                        <input type="radio" th:value="${restaurant.id}" name = "restaurant_id"/>
                        <label th:text = "${restaurant.name}"></label>
                    </div>
                    <button type="submit" class="btn btn-primary" th:text = "#{label.search}"></button>
                </div>
            </form>
        </div>
    <div class="container mt-4 mb-4">
        <form th:action = "@{'/searchRestaurantByCategory'}" method="post">
            <div class="form-group">
                <h2 th:text = "#{label.search_by_category}"></h2>
                <div class="form-group" th:each="category: ${category}">
                    <input type="radio" th:value="${category.id}" name = "category_id"/>
                    <label th:text = "${category.name}"></label>
                </div>
                <button type="submit" class="btn btn-primary" th:text = "#{label.search}"></button>
            </div>
        </form>
    </div>
</div>
</html>