<html xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorator="layouts/main.html">
    <div layout:fragment="myContent" >
        <div class="row">
            <div class="col-sm-8">
                <h1>
                    ALL USERS
                </h1>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="row">
                <div class="col-sm-12">
                    <table cellpadding="20" class="table table-stripped table-dark">
                        <thead>
                        <tr>
                            <th>
                                ID
                            </th>
                            <th>
                                EMAIL
                            </th>
                            <th th:text = "#{label.user_name}">
                            </th>
                            <th th:text = "#{label.user_surname}">
                            </th>
                            <th th:text = "#{label.role}">
                            </th>
                            <th th:text = "#{label.details}">
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each = "users : ${userList}">
                            <td th:text = "${users.id}"></td>
                            <td th:text = "${users.email}"></td>
                            <td th:text = "${users.name}"></td>
                            <td th:text = "${users.surname}"></td>
                            <td th:text = "#{label.user_role}"></td>
                            <td>
                                <a th:href = "@{'/userDetails/'+${users.id}}" th:text = "#{label.details}"></a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</html>